{% extends 'main/base.html' %}

{% block title %}{{app.name}} - AppStore{% endblock %}


{% block content %}
    <p><a href="{% url 'main:index' %}"> <- ко всем приложениям</a></p>

    <h2>{{ app.name}}</h2>

    <p>Категория:
        {% if app.category %}
            <a href="{% url 'main:category' app.category.id %}">{{app.category}}</a>
        {% else %}
            Без категории
        {% endif %}
    </p>
    <p>
        {% if app.price == 0 %}
            Бесплатно
        {% else %}
            {{app.price }} $
        {% endif %}
    </p>
     <p>{{ app.description|default:"Описание пока не добавлено" }}</p>


    {% if similar_by_price %}
    <h3>Примерно за те же деньги</h3>
    {% for similar in similar_by_price %}
        <p><a href="{% url 'main:app_detail' similar.id %}">{{ similar.name }}</a> — {{ similar.price }} $</p>
    {% empty %}
        <p>Нет похожих по цене приложений</p>
    {% endfor %}
    {% endif %}

    <p>Добавлено: {{ app.created_at|date:"d.m.Y H:i" }}</p>
{% endblock %}
