{% extends 'main/base.html' %}

{% block title %}{{ title }} — AppStore{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

{% if apps %}
    {% for app in apps %}
    <div class="app-card">
        <h3><a href="{% url 'main:app_detail' app.id %}">{{ app.name }}</a></h3>
        <p>{{ app.description|truncatechars:100 }}</p>
        <p>
            {% if app.price == 0 %}
                Бесплатно
            {% else %}
                {{ app.price }} ₽
            {% endif %}
        </p>
    </div>
    {% endfor %}
{% else %}
    <p>Приложений не найдено.</p>
{% endif %}
    <p>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"><- back</a>
        {% else %}
            <spa><- back</spa>
        {% endif %}

         | Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }} |

        {% if page_obj.has_next %}
         <a href="?page={{ page_obj.next_page_number }}">next -></a>
        {% else %}
            <spa>next -></spa>
        {% endif %}
    </p>
{% endblock %}
